@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --theme-color: #788243;
  --secondary-color: #1e417c;
  --dark: #262626;
}
body {
  font-family: "Poppins", sans-serif;
}
.top-header-section {
  padding: 19px 0;
}

.info-box {
  display: flex;
  align-items: center;
}
.info-box img {
  margin-right: 12px;
}
.info-box p,
.info-box {
  margin-bottom: 0;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-decoration: none;
  color: var(--dark);
}
/* ===================
header section
================ */
header {
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  padding-bottom: 140px;
  background-size: cover;
}
.navbar-light .navbar-nav .nav-link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  color: #ffffff;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: var(--theme-color);
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: #ffffff !important;
  background-color: var(--theme-color);
}
.dropdown-menu {
  padding: 0 0;
  overflow: hidden;
}
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}
.btn-custom {
  background: var(--theme-color);
  border-radius: 5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  padding: 13px 38px;
}
.btn-reverse {
  background-color: var(--secondary-color);
}
 .btn-reverse:hover{
  background-color:var(--theme-color)!important;
  color: #ffffff;
}
.btn-custom:hover {
  background: var(--secondary-color) ;
  color: #ffffff;
}
.carousel-caption {
  position: static;
  max-width: 800px;
  margin: auto;
}
.carousel-caption h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 82px;
  text-align: center;

  color: #ffffff;
}
.carousel-caption p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding: 30px 0 50px;
  color: #ffffff;
}
.carousel-inner {
  overflow: hidden;
  min-height: 500px;
  display: flex;
  align-items: center;
}
.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  background-clip: padding-box;
  border-radius: 50%;
  border: 2px var(--theme-color) solid;
  border-top: 2px solid var(--theme-color)
  border-bottom: 2px solid var(var(--theme-color))
   opacity: 1;
  background-color: #7ab24300;
}
.carousel-indicators .active {
   opacity: 1;
  background-color: #7bb243;
}
/* service-section */
.service-section{ padding: 30px;}
.heading{margin-bottom: 50px;}
.heading h1{ 
  font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 54px;

color: #1C3664;





}
.heading h2 {text-align: center;}
.heading h1 span{}
.heading p{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: var(--dark);
}
.service{ display: flex;
flex-direction: column;
align-items: center;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
border-radius: 5px;
padding: 20px;
margin-bottom: 30px;

}
.service img{ width: 80px; height: 80px;}
.service span{font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px; 
  text-align: center;
  color: var(--theme-color);}
.heading h2 span{color: #788243;}

/*doctors */
.doctors{text-align: center;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
 border: 0;
}
.doctors-section{padding: 50px 0;}
.doctors img{}
.doctors .card-body {}

.doctors .card-body h5 {font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  color: var(--theme-color);
  }
.doctors .card-body p {font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: var(--dark);
  }
.doctors .card-body a{
background: rgba(130, 187, 76, 0.1);
border-radius: 25px;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
text-align: center;
color: var(--theme-color);
padding: 13px 17px;
}
.doctors .card-body a:hover {}
